
/*Подключение других файлов стилей*/

@import url("../css/normalize.css");
@import url("../css/fonts.css");
@import url("../css/menu.css");
@import url("../css/ordering_block.css");
@import url("../css/product_advantages.css");


/*Задание переменных*/

$blue: #61C4D9;


/*Базовые стили для всей страницы*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1100px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    
}

ul {
    margin: 0;
    padding: 0;
}
  
li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}


/*Стили для блока первой секции*/

.section-1 {
    background-color: $blue;
    height: 652px;
    background-size: cover;
}


/*Стили для картинок, накладывающихся на первую секцию*/

.pattern_1 {
    position: absolute;
    bottom: 25px;
    left: 588px;
    width: 512px;
    height: 648px;
    z-index: 10;
    background-image: url(../images/pattern_1.svg);
}

.chocolate {
    position: absolute;
    width: 520px;
    height: 644px;
    left: 569px;
    top: 30px;
    z-index: 20;
    background-image: url(../images/chocolate.svg);
}

.leaf_2 {
    position: absolute;
    width: 59px;
    height: 112px;
    left: -50px;
    top: 550px;
    z-index: 20;
    background-image: url(../images/leaf_2.svg);
}
