.ordering-block {
    display: flex;
    flex-direction: column;
    width: 371px;

    .ordering-block__product-name {
        color: white;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 48px;
        line-height: 58px;
        margin-top: 84px;
        width: 353px;
    }

    .ordering-block__product-description {
        color: white;
        font-family: 'Alegreya Sans', sans-serif;
        margin-top: 17px;
        font-size: 21px;
        line-height: 25px;
    }

    .ordering-block__order-button {
        width: 156px;
        height: 60px;
        background-color: white;
        border-radius: 100px;
        margin-top: 32px;
        color: #365A49;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;

        &:active {
            border: none;
            outline: none;
            text-decoration: none;
        }

        &:focus {
            border: none;
            outline: none;
            text-decoration: none;
        }
    }
}