.product-advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 520px;
    margin-top: 64px;

    .product-advantages-item {
        width: 166px;
        height: 56px;
        display: flex;
        flex-direction: row;

        .product-advantages-item__text {
            margin-left: 12px;
            font-size: 16px;
            line-height: 18px;
            color: white;
            font-family: Alegreya Sans;
            font-size: 16px;
            line-height: 18px;
        }
    }
}